* {
    padding: 0;
    margin:0;
    box-sizing: border-box;

}


:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-gray: #dfdfdf;
    /* size */
    --size-button: 50px;
    --button-font-size:18px;
    --size-thumbnail : 40px;
}

body{
    height: 100vh;
    background-color:var(--color-black);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.logo{
    cursor:pointer;
    transition: all 300ms ease;
}
.btn{
    background-color: transparent;
    border:none;
    outline:none;
    cursor:pointer;
    transition: all 300ms ease;
    margin-right: 10px;
}

.btn:hover,
.logo:hover{
    transform: scale(1.1);
}
.buttons{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.imgBtn{
    width: var(--size-button);
    height: var(--size-button);
    
}
.colorBtn{
    font-size: var(--button-font-size);
  
    border-radius: 5px;
    padding: 5px;
    
}

.btn_yellow{
    background-color: var(--color-yellow);

}
.btn_blue{
    background-color: var(--color-blue);
}
.btn_pink {
    background-color: var(--color-pink);
}

.items{
    
    width: 50%;
    height: 60%;
    list-style: none;
    overflow-y:scroll;

    
    
}
/*To not showing scrollbar */
.items::-webkit-scrollbar{
    display:none;
}

.item{
    background-color: var(--color-white);
    padding: 5px;
    display:flex;
    align-items: center;
    margin-bottom: 5px;
}

.item .thumbnail{
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);

}
.item_description{
    margin-left: 30px;
    font-size: var(--button-font-size);

}